*{
  margin: 0%;
  padding: 0%;
  border: 0%;
}
html{
  padding-left: 15rem;
  padding-right: 15rem;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: grey;
  display:block;
}
body{
  background-color: white;
  border: 3px groove black;
  overflow-y: auto;
  height: 100vh;
}
nav a{
  color: grey;
}
header{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 5px;
  padding-left: 25px;
  padding-bottom: 30px;
  border-bottom: groove;
  margin: 30px;
  color: #4e4e4e;
}
nav ul{
  border-right: groove;
  list-style-type: none;
  padding-right: 100px;
  display: inline-block;
  padding-left: 20px;
  position: fixed;
}
nav{
  padding: 4rem;
  float: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: large;
  display:block;
}
.conteudo{
}

#Entradas img{
  margin-right: 40px;
  margin-left: 10px;
  float: right;
  border: groove;
  border-color: whitesmoke;
  display: block;
}
#Entradas h2{
  padding-bottom: 40px;
  text-align: start;
  display: block
}
#Entradas{
  padding-left: 350px;
  line-height: 1.3;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-bottom: 50px;
  color: #4e4e4e;
  display: block;
}
#Principais img{
  margin-right: 40px;
  margin-left: 10px;
  float: right;
  border: groove;
  border-color: whitesmoke;
  display: block;
}
#Principais h2{
   padding-bottom: 40px;
  text-align: start;
  display: block;
}
#Principais{
  padding-left: 350px;
  line-height: 1.3;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-bottom: 50px;
  color: #4e4e4e;
  display: block;
}
#Sobremesas img{
  margin-right: 40px;
  margin-left: 10px;
  float: right;
  border: groove;
  border-color: whitesmoke;
  display: block;
}
#Sobremesas h2{
  padding-bottom: 40px;
  text-align: start;
  display: block;
}
#Sobremesas{
  padding-left: 350px;
  line-height: 1.3;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-bottom: 50px;
  color: #4e4e4e;
  display: block;
}
footer h3{
  padding-bottom: 20px;
}
footer{
  padding-right: 30px;
  border-top: groove;
  background-color: whitesmoke;
  text-align: end;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 5px;
  padding-bottom: 7px;
  color: black;
  display: block;
  max-height: 50%;
  max-width: 100%;
}
footer a{
  color: grey;
}
footer img{
  float: left;
  padding-left: 30px;
}
